.esterni{
    color: #132530;
    padding-top: 2rem;
    position: relative;
    justify-content: center;
    margin-bottom: 4rem;
}

.esterni img{
    height: 90px;
    display: flex;
    margin-left: 12rem;
}

.esterni-testo a{
    text-decoration: none;
    color: #386c9c;
}

.esterni-testo h3{
    color: #132530;
}

.esterni-testo {
    color: #274158;
    font-size: 18px;
    line-height: 20px;
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}