* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

strong {
    text-shadow: 0.5px 0.5px;
}

.home,
.servizi,
.cookie,
.privacy,
.condizioni,
.recesso {
    color: #274158;
    font-size: 18px;
    line-height: 20px;
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.privacy {
    color: #274158;
    font-size: 18px;
    line-height: 20px;
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.condizioni {
    color: #274158;
    font-size: 18px;
    line-height: 20px;
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cookie {
    color: #274158;
    font-size: 18px;
    line-height: 20px;
    padding: 35px 20px;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contatti {
    background-color: #f5f7f9;
    color: #274158;
    font-size: 18px;
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
}